@{
    ViewBag.Title = "Sobre o Time";
}
<h1>Estrutura Organizacional do Time Enactus FTT</h1>
<article>
    <div align="center">
        <h2>Presidente</h2>
    </div>
    <div align="center">
        <h3>Líder de Projeto</h3>
    </div>
   
   
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-2">
            <h4>Marketing</h4>
            <ul>
                <li>Gerenciamento de Imagem</li>
                <li>Gestão de Midias Socias</li>
            </ul>
        </div>
        <div class="col-xs-2">
            <h4>Captação de Recursos</h4>
            <ul>
                <li>Busca de Patrocinadores e Parcerias</li>
                <li>Promoção de Ações e Eventos com Fins Lucrativos</li>
            </ul>
        </div>
        <div class="col-xs-2">
            <h4>Projetos</h4>
            <ul>
                <li>Inovação e Pesquisa</li>
                <li>Projeção de Custos dos Projetos</li>
                <li>Gestão e Implementação de Projetos</li>
            </ul>
        </div>
        <div class="col-xs-2">
            <h4>Recursos Humanos</h4>
            <ul>
                <li>Gestão Interna do Time</li>
                <li>Líder de Talentos</li>
            </ul>
        </div>
        <div class="col-xs-2">
            <h4>Jurídico e Financeiro</h4>
        </div>
        <div class="col-xs-1"></div>
    </div>
</article>
<article>
    <dl>
        <dt>Presidência</dt>
        <dd>
            A Presidência é responsável pelas relações internas e externas do time. Tem
            visão holística e norteia as ações da equipe, oferecendo todo o suporte aos projetos
            e áreas, para que caminhem em direção aos objetivos do time.
        </dd>
        <br />
        <dt>Líder de Projetos</dt>
        <dd>
            Responsável pela criação e planejamento de projetos, definição de metas,
            captação e mensuração dos resultados e analise de falhas.
        </dd>
        <br />
        <dt>Inovação e pesquisa</dt>
        <dd>
            Pesquisa e desenvolve novos projetos e faz o alinhamento dos projetos com os
            cursos da instituição e com as linhas de pesquisa dos docentes.
        </dd>
        <br />
        <dt>Gestão e implementação de projetos</dt>
        <dd>
            Irá trabalhar com a comunidade, terá o maior contato com os membros da
            comunidade, será responsável pela adaptação do projeto ao local e a estratégia de
            implementação.
        </dd>
        <br />
        <dt>Gerenciamento de Imagem</dt>
        <dd>
            Irá promover a imagem e a visibilidade do time com ações e eventos sem fins
            lucrativos e divulgará os projetos do time nas comunidades e na FTT.
        </dd>
        <br />
        <dt>Gestão de Mídias sociais</dt>
        <dd>
            Promoverá a imagem e visibilidade do time das mídias sociais, criará e
            gerenciará as páginas do time na internet.
        </dd>
        <br />
        <dt>Busca de patrocinadores e Parcerias</dt>
        <dd>
            Buscará estrategicamente patrocinadores e parcerias para o time e para o
            projeto específico.
        </dd>
        <br />
        <dt>Promoção de ações e eventos com fins lucrativos</dt>
        <dd>
            Promoverá ações e eventos com fins lucrativos e pequeno, médio e grande
            porte, visando obter recursos para os projetos do time.
        </dd>
        <br />
        <dt>Gestão interna do time</dt>
        <dd>
            Promoverá o entrosamento dos membros do time, buscará resolver conflitos
            internos do time e será responsável pelos processos seletivos.
        </dd>
        <br />
        <dt>Líder de Talentos</dt>
        <dd>
            Promoverá a capacitação das pessoas envolvidas nos projetos de acordo com
            a necessidade e a melhoria continua do time, proporcionando capacitação para os
            membros.
        </dd>
        <br />
        <dt>Jurídico e Financeiro</dt>
        <dd>
            O Administrativo Jurídico e Financeiro é responsável por prover a estrutura
            legal e financeira do Enactus FTT. A fim de garantir o funcionamento do time nesses
            dois contextos. Para isso é necessário o controle financeiro devidamente detalhado
            através das planilhas de Fluxo de Caixa e Previsão de Gastos, formulário de
            atividades para comunicação com todo o time, afim de atender as demandas
            financeiras e jurídicas com eficiência e fiscalização em relação ao cumprimento do
            Estatuto e do Regimento Interno do grupo.
        </dd>
    </dl>
</article>

