@{
    ViewBag.Title = "Home Page";
}
<h1>Projeto Enactus FTT</h1>
<article>
    <h2>Enactus</h2>
    <p>
        A Enactus é uma organização internacional que mobiliza estudantes,
        acadêmicos e líderes de negócios que estão comprometidos a usar o poder da
        ação empreendedora para promover o progresso no mundo. Dividida por times em
        universidades pelo mundo, guiados por professores conselheiros e especialistas em
        negócios, os estudantes participantes criam e implementam projetos comunitários
        que empoderam seus habitantes, dando-lhes uma melhor qualidade de vida e
        subsistência. Essa experiência não somente transforma vidas, mas também ajuda
        os estudantes a desenvolverem o tipo de talento e perspectiva necessários para
        tornarem-se líderes eficazes, além de colocar em prática conhecimentos obtidos em
        seus respectivos cursos de graduação.
    </p>
</article>

<article>
    <h2>Time Enactus FTT</h2>
    <p>
        O time denominado “Enactus FTT”, tem como objetivo trazer para os discentes
        da Faculdade de Tecnologia Termomecanica, a oportunidade de desenvolver-se
        como líderes e aprimorar suas capacidades, afim de empoderar comunidades com
        os mesmos princípios da Enactus Brasil.
    </p>
    <p>
        O time Enactus FTT, busca parceria e apoio da instituição em que está
        inserida, para melhor realizar seus projetos, a instituição não tem domínio sobre o
        time, que por sua vez tem autonomia de criar e implantar projetos, mas pode indicar
        o professor conselheiro para fazer parte do time
    </p>
    <p>
        O time Enactus FTT está vinculado a Enactus Brasil seguindo todas as normas
        e orientações dadas pela instituição.
    </p>
</article>
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@