
@{
    ViewBag.Title = "ProcessoSeletivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<article>
    <h2>Processo seletivo</h2>
    <p>
        Os processos seletivos serão realizados todo semestre se houver vagas e/ou
        vagas remanescentes, sendo feito primeiramente para membros que desejarem
        mudar de cargo, excepcionalmente para os cargos de Presidente e Líder de
        projetos, o restante das vagas disponíveis serão ofertadas para alunos dos quatro
        cursos de graduação da faculdade de Tecnologia Termomecanica. O processo será
        realizado pelo setor de gestão interna do time, sendo seus critérios de avaliação
        definidos pelo mesmo.
    </p>
</article>

<article>
    <h2>Os membros</h2>
    <p>
        Os membros serão formados exclusivamente por alunos da Faculdade de
        Tecnologia Termomecanica e um professor conselheiro e todos seguiram o
        regimento interno do time.
    </p>
</article>

